<!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#cacee7; clear:left; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="ml-subscribe-form ml-subscribe-form-32947192">
	          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
					<form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/1900105/forms/170206964580615613/subscribe" data-code="" method="post" target="_blank">
<div id="mc_embed_signup_scroll">
	<h2>Subscribe to get Amazing Ronaldo's Fan products in Future.</h2>
<div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
	<input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
</div>
<div class="ml-form-successBody row-success" style="display: none">
<div class="ml-form-successContent">
	<h4>Thank you!</h4>
		<p>You have successfully joined our subscriber list.</p>
</div>
</div>
              <input type="hidden" name="ml-submit" value="1">
              <input type="hidden" name="anticsrf" value="true">
	<!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d5de8e0f9906798198015c28_518ee9d88d" tabindex="-1" value=""></div> -->
             <div class="ml-form-embedSubmit">
                
                  <button type="submit" class="button">Subscribe</button>
                
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>	
			</div>

</form>
			  </div>

</div>
  <script>
    function ml_webform_success_32947192() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-32947192 .row-success').show();
      $('.ml-subscribe-form-32947192 .row-form').hide();
    }
      </script>
  
  
      <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
        <script>
            fetch("https://assets.mailerlite.com/jsonp/1900105/forms/170206964580615613/takel")
        </script>
<!--End mc_embed_signup-->