<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2784742237479601"
            data-ad-slot="3760872290"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- Donation support -->
         <!-- <h5><span><img class="author-thumb" src="/assets/images/Author-IshowSpeed.webp" alt="IshowSpeed" width="100px"></span><span>Buy me a Coffee</span> </h5>
         <div id="paypal-container-ZZFSVXRU5634G"></div>
        <script>
        paypal.HostedButtons({
            hostedButtonId: "ZZFSVXRU5634G",
        }).render("#paypal-container-ZZFSVXRU5634G")
        </script> -->

    </div>
</div>