<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>🎮 Get Early App Access</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2784742237479601"
            crossorigin="anonymous"></script>
        <!-- Sidebar Square Ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2784742237479601"
            data-ad-slot="3222807822" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>