<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <!-- Ads Homepage below top article -->
         <h5><span><img class="author-thumb" src="/assets/images/Author-IshowSpeed.webp" alt="IshowSpeed" width="100px"></span> | <span>Buy me a Coffee</span> </h5>
         <div id="paypal-container-ZZFSVXRU5634G"></div>
        <script>
        paypal.HostedButtons({
            hostedButtonId: "ZZFSVXRU5634G",
        }).render("#paypal-container-ZZFSVXRU5634G")
        </script>

    </div>
    <!-- <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div> -->
</div>